
@media only screen and (max-width:1215px) {
.mission_block
{
    width: 800px;
    height: 800px;
    flex-direction: column;
    }

    .left_block_misson
    {
    
     height: 300px;
     width: 800px;
     text-align: center;

    }
.button2_container
{
    text-align: center;
}

.right_block_mission
{

height: 550px;
width: 800px;
padding: 25px;
float: left;

}

.content_right_block
{
	padding: 10px;
}

.img_mission
{
height: 100%;

}
.text_block_mission
{

font-size: 14px;
}
.mission_ul
{
font-size: 14px;
}

.text_in_block
{
	margin-top: -30px;
}
.dist_items_cont
{
	width: 100%;
	
}
.distribution {
	 height: 1500px;
}
}
@media only screen and (min-width:950px) {
    .flexbox_item_m2
  {
          margin-left: -10%;
         
  }

}

@media only screen and (min-width:817px) {
    .flexbox_item_m2
  {
          margin-left: -5%;
         
  }

   }

@media only screen and (max-width:816px) {
      .flexbox_item_m2
    {
            padding-top: 0px;
           
    }
    .distribution {
        height: 2400px;
      }
      
      .mission
      {
          height: 1300px;
      }
      
      .mission_block
{
    width: 400px;
    height: 800px;
    flex-direction: column;
    }

    .left_block_misson
    {
    
     height: 300px;
     width: 400px;
     text-align: center;}
     .right_block_mission
     {
     
     height: 1000px;
     width: 400px;
     }


     .flexbox_item_m1_b
     {
         width: 300px;
         height: 250px;
        
         margin-top: 10px;
        
     }
     
         .flexbox_item_m2_b
         {
             width: 150px;
             height: 150px;
             
             padding-top: 50px;
             padding-right:200px;
                 
         }
             
         .menu_list_b 
         {
         width: 200px;
         text-align: left;
         display: flex;
         flex-direction: column;
         padding: 50px;
         }
         
         .menu_link_b
         {
         width: 200px;
             color: #ffffff;	
         font-family: 'Roboto', sans-serif;
         font-weight: 600;
         font-size: 18px;
         
         line-height: 30px;
        
         }
         .flexbox_item_m2_b
         {
     
             margin: 0 auto;
             padding-top: 30px;
                 
         }
    
}

@media only screen and (max-width:768px) {
    
}

@media only screen and (max-width:518px) {
    .menu_link 
{
font-size: 14px;
}
.dist_items_cont
{

justify-content:none;

}

h1 {
    font-size: 40px;
}
h3 {
    font-size: 16px;
}
.dist_h2
{
font-size: 40px;    
}
.text_in_block
{
    font-size: 25px;    
}
.bottom_block {
height: 530px;
}
}



@media only screen and (max-width:390px) {
    .mission
    {
        height: 1400px;
    }
    
    .mission_block
{
  width: 300px;
  height: 800px;
  flex-direction: column;
  }

  

  .left_block_misson
  {
  
   height: 300px;
   width: 300px;
   text-align: center;

  }

.right_block_mission
{

height: 1200px;
width: 300px;
}
.send_track2 
{
width: 250px;
height: 50px;
text-align: center;
}

.right_block_mission
{

padding: 10px;
float: left;

}
}


