*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: 'Conv_Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot');
	src: local('☺'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('/.fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html
{
	scroll-behavior: smooth;
}

.flexbox_menu {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
	overflow: hidden;
	}

.flexbox_item
{
    width: 500px;
    margin: 0 auto;
    
}
.popup_area
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0%;
}

header
{
height: 1100px;
background: url(../img/obl.jpg) rgba(0, 0, 0, 0.5) 50%/cover no-repeat;
 background-blend-mode: color;
color: #000000;
}

.header_box
{
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 45%;
}

.flexbox_item_m1
{
    width: 300px;
    height: 250px;
    margin: 0 auto;
    margin-top: 50px;
  
    
        
}

.flexbox_item_m2
{
    width: 500px;
    min-width: 300px;
	height: 20px;
	margin: 0 auto;
	padding-top: 170px;
	
        
}

.logo{
width:300px;
text-align: center; 

}

.menu a {
	text-decoration: none;
	
}

.menu_list 
{
width: 100%;
margin: 0 auto;
display: flex;
justify-content: space-evenly;

}

.menu_link 
{
width: 100%;
	color: #ffffff;	
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 18px;
margin: 0 auto;

}

.send_track 
{
width: 300px;
height: 50px;
border-radius: 50px;
font-family: 'Roboto', sans-serif;
font-size: 15px;
font-weight: 500;
top: auto;
background-color: #ffffff; 
margin: 0px auto;

}

.mission_ul
{
	font-family: 'Roboto', sans-serif;
	text-align: inherit;
	font-weight: 600;
	line-height: 1.5;
}
 

.send_track2 
{
width: 300px;
height: 50px;
border-radius: 50px;
font-family: 'Roboto', sans-serif;
margin: 20px 20px 0 0;
font-size: 15px;
font-weight: 500;
top: auto;
background-color: #000000; 
color: #ffffff;
}

.send_track3 
{
width: 300px;
height: 50px;
border-radius: 50px;
font-family: 'Roboto', sans-serif;
font-size: 15px;
font-weight: 500;
top: auto;
background-color: #ffffff; 

}

.button_3_cont
{
	height: 50px;
	width: 300px;
	margin: 0 auto;
	
	}

.button3_block
{
	height: 50px;
	width: 300px;
	margin: 0 auto;
	margin-top: 50px;
text-align: center;
	
}
a {
    color: #ffffff; 
    transition: 0.3s linear; 
   }
a:hover {
    color: #8f8f8f; 
   }
   
   .send_track {
    background-color: #ffffff; 
    transition: 0.1s linear; 
   }
.send_track:hover {
    background-color: #dfdfdf; 
   }
   .send_track2 {
    background-color: #000000; 
    transition: 0.1s linear; 
   }
.send_track2:hover {
    background-color: #181818; 
   }
   
   .send_track3 {
    background-color: #ffffff; 
    transition: 0.1s linear; 
   }
.send_track3:hover {
    background-color: #dfdfdf; 
   }
   .form_file + label {
	background-color: #181818; 
	transition: 0.1s linear; 
   }
   .form_file + label:hover {
    background-color: #383838; 
   }
   .submit_button {
	background-color: #181818; 
	transition: 0.1s linear; 
   }
   .submit_button:hover {
    background-color: #383838; 
   }


h1, h2, h3
{
        color: white;
}

h1 {
	font-family: 'Conv_Roboto-Medium';
	font-weight: 700;
	font-size: 60px;
	
   }
h2 {
	font-family: 'Conv_Roboto-Medium';
    font-size: 60px;
	padding: 30px;
	font-weight: 500;
}
h3 {
		font-family: 'Roboto', sans-serif;
		font-weight: 600;
		font-size: 25px;
		padding: 30px;
    
		}
		.text_block_mission {
			font-family: 'Roboto', sans-serif;
			text-align: inherit;
			font-weight: 700;
			font-size: 16px;
			line-height: 1.5;
		}
		
.mission {
		background: url(../img/bg2.jpg) rgba(0, 0, 0, 0.3) 50%/cover no-repeat;
	  background-blend-mode: color;
	  height: 1000px;
	padding-top: 100px;
color: #000000;
	}

.mission_block
{
display:flex;
flex-direction: row; 
margin: 0 auto;
width: 1188px;
background-color: rgba(0, 0, 0, 0.9);
}
.left_block_misson
{

float: left;
width: 488px;
height: 800px;

}
.content_right_block
{
	padding: 50px;
}
.right_block_mission
{
background-color: #ffffff;
height: 800px;
width: 700px;
float: left;

}
.clear {
    clear: left;
   }
.img_mission 
{
height: 100%;
}

.distribution {
	background: url(../img/bg3.jpg) rgba(0, 0, 0, 0.3) 50%/cover no-repeat;
	background-blend-mode: color;
  height: 1200px;
  width: 100%;
padding: 100px 0 0 0;
margin: 0px auto;
color: #000000;
  }
 
  .dist_h2
  {
	  text-align: center;

  }

 .dist_items_cont
{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	display: flex;
justify-content:space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 30px;
	

}
	.dist_item
{
	width: 300px;
	height: 200px;
	margin: 20px 50px;
	
	}

	.dist_item_text
	{
font-size: 20px;
font-weight: 500;
line-height: 22px;
padding-top: 10px;
	}

  .text_block_distribution {
	min-width: 300px;
	width: 1200px;
	height: 900px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto;
	}
	.text_distribution_cont
{
	width: 100%;
	height: 1000px;
	margin: 0 auto;
	
}
.img_dist
{
	width: 300px;
	font-size: 100px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 900;
	color: seagreen;

	
}


		.text_block_distribution 
		{
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			color: #ffffff;
			font-size: 18px;
			margin: 0% auto;
					
		}
		
		.distribution_list
		{
			line-height: 40px;
			line-height: 45px;	
		}
.text_in_block
{
	color: #000000;
	}


	.quotes 
	{
height: 330px;
background-color: #fff;

	}

	.container_quotes
	
	{
margin-left: auto;
margin-right: auto;
width: 1500px;
height: 330px;

}

.qoute_block_left {

height: 110px;
width: 600px;
margin-top: 100px;
padding-left: 15px;
border-left: 2px solid #000000;
font-family: 'Playfair Display', serif;
color: #000000;
font-size: 35px;
float: left;

}
.qoute_block_right {

	height: 110px;
	width: 700px;
	margin-top: 45px;
	padding-left: 100px;
	font-style: italic;
	color: #000000;
	font-size: 25px;
	float: left;
	
	}
.bottom_block {
	width: 100%;
	height: 330px;
	background-color: #000000;
}

.flexbox_menu_b {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
	overflow: hidden;
	}

.flexbox_item_b
{
    width: 500px;
    margin: 0 auto;
    
}
.logo_b{
	width:300px;
	
    
	}

	.flexbox_item_m1_b
{
    width: 300px;
    height: 250px;
    margin: 0 auto;
    margin-top: 50px;
   
}

	.flexbox_item_m2_b
	{
		width: 500px;
		height: 20px;
		margin: 0 auto;
		padding-top: 155px;
			
	}

	.adress_span
	{
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		color: #ffffff;
		font-size: 18px;
	
	}

	.adress
	{padding-top: 155px;
	}
		
	.menu_list_b 
	{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	
	}
	
	.menu_link_b
	{
	width: 100%;
		color: #ffffff;	
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 18px;
	margin: 0 auto;
	
	}

.form_background
{
	height: 100%;
	width: 100%;
	background-color: #000000;
}


	.form_text {
		width: 300px;
		height: 45px;
		font-size: 20px;
		margin: 10px;
		border-radius: 5px;
		border: 1px solid #b6b6b6;
		background-color: #ffffff;
		
	}
	.form_text1 {
		font-size: 20px;
		margin: 10px;
	
	}

	.form_file

	{
		margin: 10px;
	}
	.form_img
	{
		height: 379px;
		margin: 10px;
		float: left;
	}
	.submit_button 
	{
		width: 100px;
		height: 45px;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		color: #ffffff;
		margin: 10px 10px;
		border-radius: 5px;
		background-color: #181818;
		cursor: pointer;
	}

.red 
{
color: red;
}

.form_text
 {
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 500;
padding: 15px 20px;
color: #000000; 
 }

 .form_image_left 
 {
	float: left;
	
 }

 .form_right
{
	height: 379px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	
}
.form_h{
font-family: 'Conv_Roboto-Medium';
font-size: 23px;
color: #000000;
line-height: 30px;
margin: 30px 30px 30px 10px;

}
.form_file
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

}
.form_file + label
{
	width: 200px;
	height: 30px;
	font-size: 15px;
	color:#ffffff;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
	border-radius: 5px;
	}

	/* FORM STYLE */

.popup
{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s ease 0s;
}
.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup_body
{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup_content
{
		width: 800px;
		height: 400px;
		background-color: #ffffff;
		position: relative;
}
.popup_close
{
position: absolute;
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 20px;
top: 15px;
right: 15px;
text-decoration: none;
color: #000000;
}
.popup_title
{
font-size: 38px;
margin: 0 0 5px 0;	
}
.popup_text
{
	
	font-size:20px;
}